.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.input-group .form-control {
  flex-grow: 1;
  margin-right: 10px;
}

.input-group .dropdown-toggle {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
  font-size: 14px;
}

.input-group .dropdown-menu {
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-group .dropdown-item {
  font-size: 14px;
  padding: 5px 10px;
}

.input-group .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.input-group .btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
